.burger-menu{
  position: sticky;
  top: -50px;
  z-index: 100; 
  background-color: white;
}
.containerHeader{
  display: none;
}
.container{
  max-width: 900px;

}
.logo{
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 200;
}
.header_contact{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(7, 7, 7, 0.1);
  text-transform: uppercase;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.781);
  transition: all 3s ease ;
  width: 100%;
  position: relative;
}

.header_contact a{
 margin: 14px;
 color: rgb(68, 95, 132);
 text-decoration: none;
 font-weight: 500;
 width: 130px;
 border: none;
}
.header_contact a:hover{
  border: none;
}

@media all and (max-width: 970px){
.item-container-second{
  display: none;
}
}

@media all and (max-width: 825px) {
  .logo{
    top: 70px;
  }
  .burger-menu {
      z-index: 102; 
      position: fixed;
      background-color: white;
    }

  .header_contact {
    position: absolute;
    top: -600px;
    flex-direction: column;
    align-items: stretch;
    transition: all 1s ease ;
    width: 100%;
    max-width: 825px;
    background-color: #eee;
    position: fixed;
  }

  .burger-icon {
      cursor: pointer;
      display: flex;
      width: 30px;
      height: 30px;
      position: fixed;
      top: 30px;
      right: 50px;
      z-index: 101;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      border: 1px solid rgb(68, 95, 132);
      padding: 3px;
      border-radius: 5px;
    }
    .burger-icon span {
      background-color: rgb(68, 95, 132);
      height: 2px;
      width: 25px;
      margin: 3px 0;
      transition: 0.4s;
    }
    .burger-menu.open .burger-icon span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .burger-menu.open .burger-icon span:nth-child(2) {
      opacity: 0;
    }
    
    .burger-menu.open .burger-icon span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }      

      .burger-menu.open .header_contact{
      top: 0;
      left: 0;
      padding:70px 0px 0px 30px;
    }
    .burger-menu .header_contact {
      left: 0;
    }

    .container-main{
      flex-direction: column;
      max-width: 800px;
      width: 100%;
    }
    .details-shipping{
      margin: 0px 60px;
    }
    .item-container-first {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-content: flex-end;
      align-items: center;
  }

}


@media all and (max-width:420px){
  .containerHeader {
    align-content: space-between;
  }
}